/* Inicio Juan */

/* Fim Juan */

/* Inicio Roseno */
.top{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 69px;
    background-color: #EC362D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}
.title{
    font-size: 37px;
    font-weight: 700;
    font-style: bold;
    color: #FFFFFF;
}

.your-quizzes{
    width: 1051px;
    height: 181px;
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 5px;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    border: 1px dashed #D4D4D4;
    text-align: center;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: #FAFAFA;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
/* Fim roseno */

